{% extends 'base.html' %}
{% load static %}
{% block main %}

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active my-auto">
      <img src="{% static 'images\360_F_216472247_cT66WDoS0fp1s3wC7eaykMJNDGVbOBPq.jpg' %}" class="d-block w-100" alt="..." height="600px">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images\istockphoto-914490884-170667a.jpg' %}" class="d-block w-100" alt="..." height="600px">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images\healthcare-technology-doctor-using-digital-tablet-icon-medical-network-hospital-background-162019727.jpg' %}" class="d-block w-100" alt="..." height="600px">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  {% endblock main %}